<!--
  Generated template for the Scb10Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title_text">견적서 조회</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <br>
  <ion-grid class="search_grid2">
    <ion-row class="search_row1">
      <ion-col col-3>
          <div (click) = "PopupPjtno()" class="search_nm">견적번호</div>
      </ion-col>

      <ion-col col-9>
        <span (click) = "PopupPjtno()"><input type="text" value="{{pjt_nm}}" class="search_val"></span><button  *ngIf="pjt_nm" (click) = "clear_pjtno('')" class="cancel_btn"><img src="../../../assets/imgs/text_delete_btn.gif"/></button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <button ion-button (click) = "retrive()" *ngIf="acc_btn_retrive" class="search_btn search_btn_margin">조회</button>
  <!--<button ion-button (click) = "add()" *ngIf="acc_btn_add">추가</button>
  <button ion-button (click) = "save()" *ngIf="acc_btn_save">저장</button>
  <button ion-button (click) = "delete()" *ngIf="acc_btn_delete">삭제</button>
  <button ion-button (click) = "print()" *ngIf="acc_btn_print">출력</button>-->

  <br>

<!--  <ion-grid>
    <ion-row class="grid_text">
      <ion-col col-1.5 class="t_left">그룹</ion-col>
      <ion-col col-5 class="t_left">품명/규격</ion-col>
      <ion-col col-1.5 class="t_left">수량</ion-col>
      <ion-col col-1.5 class="t_left">단위</ion-col>
      <ion-col col-1.5 class="t_right">단가</ion-col>
      <ion-col col-1.5 class="t_right">금액</ion-col>
    </ion-row>
    <ion-row *ngFor="let r of result; let i=index" class="grid_text" (click) = "changedddd(r.GROUP_NO)">
      <ion-col col-1.5 class="t_left" *ngIf="(GRPNO_SHOW === '1' && r.GROUP_NO === GROUP_NO_SHOW) || r.GRPNO === r.GROUP_NO">{{r.GRPNO}}</ion-col>
      <ion-col col-5 class="t_left" *ngIf="(GRPNO_SHOW === '1' && r.GROUP_NO === GROUP_NO_SHOW) || r.GRPNO === r.GROUP_NO">{{r.ITDSC}}</ion-col>
      <ion-col col-1.5 class="t_left" *ngIf="(GRPNO_SHOW === '1' && r.GROUP_NO === GROUP_NO_SHOW) || r.GRPNO === r.GROUP_NO">{{r.SOQTY1}}</ion-col>
      <ion-col col-1.5 class="t_left" *ngIf="(GRPNO_SHOW === '1' && r.GROUP_NO === GROUP_NO_SHOW) || r.GRPNO === r.GROUP_NO">{{r.SOQTY1 | commonfilter: r.SOQTY1: 'filter1'}}</ion-col>
      <ion-col col-1.5 class="t_right" *ngIf="(GRPNO_SHOW === '1' && r.GROUP_NO === GROUP_NO_SHOW) || r.GRPNO === r.GROUP_NO">{{'' | commonfilter : r.SOWPRC1 : 'money_filter'}}</ion-col>
      <ion-col col-1.5 class="t_right" *ngIf="(GRPNO_SHOW === '1' && r.GROUP_NO === GROUP_NO_SHOW) || r.GRPNO === r.GROUP_NO">{{'' | commonfilter : r.SOWAMT1 : 'money_filter'}}</ion-col>
    </ion-row>
  </ion-grid>-->

  <ion-card *ngFor="let r of result; let i=index" class="Card_Grid" (click) = "category_click(r.GROUP_NO)">
    <ion-grid>
      <ion-row>
        <ion-col col-12 class="t_left t_bold" *ngIf="(GRPNO_SHOW === '1' && r.GROUP_NO === GROUP_NO_SHOW) || r.GRPNO === r.GROUP_NO"><span *ngIf="r.GRPNO !== r.GROUP_NO">&nbsp;&nbsp;</span>{{r.GRPNO}} / {{r.ITDSC}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 class="t_right" *ngIf="(GRPNO_SHOW === '1' && r.GROUP_NO === GROUP_NO_SHOW) || r.GRPNO === r.GROUP_NO"><span *ngIf="r.GRPNO !== r.GROUP_NO">단가&nbsp; </span>{{'' | commonfilter : r.SOWPRC1 : 'money_filter'}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 class="t_left" *ngIf="(GRPNO_SHOW === '1' && r.GROUP_NO === GROUP_NO_SHOW) || r.GRPNO === r.GROUP_NO"><span *ngIf="r.GRPNO !== r.GROUP_NO">&nbsp;&nbsp;</span><span *ngIf="r.GRPNO !== r.GROUP_NO">수량&nbsp; </span><span *ngIf="r.GRPNO !== r.GROUP_NO">{{r.SOQTY1}} &nbsp; </span><span *ngIf="r.GRPNO !== r.GROUP_NO">{{r.SOQTY1 | commonfilter: r.SOQTY1: 'filter1'}}</span></ion-col>
        <ion-col col-8 class="t_right" *ngIf="(GRPNO_SHOW === '1' && r.GROUP_NO === GROUP_NO_SHOW) || r.GRPNO === r.GROUP_NO"><span *ngIf="r.GRPNO !== r.GROUP_NO">금액&nbsp; </span><span *ngIf="r.GRPNO === r.GROUP_NO">소계&nbsp; </span>{{'' | commonfilter : r.SOWAMT1 : 'money_filter'}}</ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>

  <ion-fab bottom right><button ion-fab [hideFabOnscroll]='content' (click) = "scrollToTop()" class="top_btn"><img alt="top" src="../../../../assets/icon/top_button.png"></button></ion-fab>
</ion-content>
