<!--
  Generated template for the Paf06Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title_text">구매단가조회</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
  <button ion-button (click) = "condition_yn('')" class="all_btn" [ngStyle]="{'border-color': borderColor1, 'background-color': all_search_Color1, 'color': text_color1}" (click) = "all_btn()">전체</button>
  <button ion-button (click) = "condition_yn('true')" class="filter_btn" [ngStyle]="{'border-color': borderColor2, 'background-color': all_search_Color2, 'color': text_color2}" (click) = "filter_btn()">필터</button>
  <br>
  <ion-grid *ngIf="searchCondition">
    <ion-row class="search_row">

      <ion-col col-3>
        <div (click) = "PopupItnbr()" class="search_nm">품목명칭</div>
      </ion-col>

      <ion-col col-9 >
        <span (click) = "PopupItnbr()"><input type="text" value="{{itnbr_nm}}" class="search_val"></span><button  *ngIf="itnbr_nm" (click) = "clear_itnbr('')" class="cancel_btn"><img src="../../../assets/imgs/text_delete_btn.gif"/></button>
      </ion-col>

    </ion-row>

    <ion-row class="search_row">

      <ion-col col-3>
          <div (click) = "PopupBuyer()" class="search_nm">협력업체</div>
      </ion-col>

      <ion-col col-9>
          <span (click) = "PopupBuyer()"><input type="text" value="{{cust_nm}}" class="search_val2"></span><button *ngIf="cust_nm" (click) = "clear_buyer('')" class="cancel_btn"><img src="../../../assets/imgs/text_delete_btn.gif"/></button>
      </ion-col>

    </ion-row>
  </ion-grid>
  <br>
  <div class="btn_div">
    <button ion-button (click) = "retrive()" *ngIf="acc_btn_retrive" class="search_btn">조회</button>
  </div>

    <!--<button ion-button (click) = "add()" *ngIf="acc_btn_add">추가</button>
  <button ion-button (click) = "save()" *ngIf="acc_btn_save">저장</button>
  <button ion-button (click) = "delete()" *ngIf="acc_btn_delete">삭제</button>
  <button ion-button (click) = "print()" *ngIf="acc_btn_print">출력</button>-->

  <br>
  <ion-card *ngFor="let r of result" (click) = "openDetail(r)" class="Card_Grid">
    <ion-grid>
      <ion-row>
        <ion-col col-12 class="t_left t_bold">{{r.ITEM_NAME_K}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-9 class="t_left text_overflow">{{r.NORM1}} | {{r.VENDOR_NAME}}</ion-col>
        <ion-col col-3 class="t_right t_bold ">{{'' | commonfilter : r.LAST_PRICE : 'money_filter'}}<span *ngIf="r.LAST_PRICE">원</span></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading...">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab bottom right><button ion-fab [hideFabOnscroll]='content' (click) = "scrollToTop()" class="top_btn"><img alt="top" src="../../../../assets/icon/top_button.png"></button></ion-fab>

</ion-content>
