<!--
  Generated template for the Paf06Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>구매단가조회</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
  <button ion-button (click) = "condition_yn('')">전체</button>
  <button ion-button (click) = "condition_yn('true')">조건검색</button>
  <br>
  <ion-grid *ngIf="searchCondition" class="search_filter">
    <ion-row>
      <ion-col col-4>
        <ion-item (click) = "PopupItnbr()">
          <ion-label color="primary">품목명칭</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-7>
        <ion-item (click) = "PopupItnbr()" class="itnbr_nm">
          <ion-label class="itnbr_nm">{{itnbr_nm}}</ion-label>
          <input type="text">
        </ion-item>
      </ion-col>
      <ion-col col-1>
        <button ion-button *ngIf="itnbr_nm" (click) = "clear_itnbr('')">X</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <ion-item (click) = "PopupBuyer()">
          <ion-label color="primary">협력업체</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-7>
        <ion-item (click) = "PopupBuyer()">
          <ion-label>{{cust_nm}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-1>
        <button ion-button *ngIf="cust_nm" (click) = "clear_buyer('')">X</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <button ion-button (click) = "retrive()" *ngIf="acc_btn_retrive">조회</button>
  <!--<button ion-button (click) = "add()" *ngIf="acc_btn_add">추가</button>
  <button ion-button (click) = "save()" *ngIf="acc_btn_save">저장</button>
  <button ion-button (click) = "delete()" *ngIf="acc_btn_delete">삭제</button>
  <button ion-button (click) = "print()" *ngIf="acc_btn_print">출력</button>-->

  <br>

  <ion-card *ngFor="let r of result" (click) = "openDetail(r)">
    <ion-grid>
      <ion-row>
        <ion-col col-6 class="t_left t_bold">{{r.ITEM_NAME_K}}</ion-col>
        <ion-col col-6 class="t_right t_bold ">{{'' | commonfilter : r.LAST_PRICE : 'money_filter'}}<span *ngIf="r.LAST_PRICE">원</span></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class="t_left">{{r.NORM1}}</ion-col>
        <ion-col col-6 class="t_right">{{r.VENDOR_NAME}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading...">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
