<!--
  Generated template for the Pdb13detail3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>업체별 총집계 상세<img src="../../../../assets/icon/close_btn.png" class="close_btn" (click) = "closemodal()"></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid class="detail_grid">

    <ion-row>
      <ion-col col-12>업체명</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>{{obj.BY_NM}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>발주수량</ion-col>
      <ion-col col-6>재고사용금액</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>{{obj.PUR_QTY}}</ion-col>
      <ion-col col-6>{{'' | commonfilter : obj.ALLO_AMT: 'money_filter'}}<span *ngIf="obj.ALLO_AMT">원</span></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>원발주금액</ion-col>
      <ion-col col-6>NEGO금액</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>{{'' | commonfilter : obj.NEGO_AMT: 'money_filter'}}<span *ngIf="obj.NEGO_AMT">원</span></ion-col>
      <ion-col col-6>{{'' | commonfilter : obj.PUR_AMT: 'money_filter'}}<span *ngIf="obj.PUR_AMT">원</span></ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>비고</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12></ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
