<!--
  Generated template for the Peb14Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title_text">자재입고현황조회</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <br>
  <ion-grid>
    <ion-row class="search_row">
      <ion-col col-3>
        <div class="search_nm">입고일자</div>
      </ion-col>

      <ion-col col-4>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="date1"></ion-datetime>
      </ion-col>
      <ion-col col-4>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="date2"></ion-datetime>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>

  <div class="btn_div">
    <button ion-button (click) = "retrive()" *ngIf="acc_btn_retrive" class="search_btn search_btn_margin">조회</button>
  </div>
  <!--<button ion-button (click) = "add()" *ngIf="acc_btn_add">추가</button>
  <button ion-button (click) = "save()" *ngIf="acc_btn_save">저장</button>
  <button ion-button (click) = "delete()" *ngIf="acc_btn_delete">삭제</button>
  <button ion-button (click) = "print()" *ngIf="acc_btn_print">출력</button>-->

  <ion-scroll scrollX style="height:45px;">
    <ion-item  style="width:700px;">
    <button ion-button (click) = "changeTab('1')" class="tabpage4" [ngStyle]="{'border-color': buttonColor1}" (click) = "btn_change1()">일자별 자재입고현황</button>
    <button ion-button (click) = "changeTab('2')" class="tabpage4" [ngStyle]="{'border-color': buttonColor2}" (click) = "btn_change2()">작업지시별 입고현황</button>
    <button ion-button (click) = "changeTab('3')" class="tabpage4" [ngStyle]="{'border-color': buttonColor3}" (click) = "btn_change3()">거래처별 입고현황</button>
    <button ion-button (click) = "changeTab('4')" class="tabpage4" [ngStyle]="{'border-color': buttonColor4}" (click) = "btn_change4()">작업지시별/품번별 입고현황</button>
    </ion-item>
  </ion-scroll>

  <div *ngIf="Tab1">
    <ion-card *ngFor="let r1 of result1" (click) = "openDetail('tab1', r1)"class="Card_Grid">
      <ion-grid>
        <ion-row>
          <ion-col col-12 class="t_left"><div class="pjt_status t_bold">{{commonCode29 | commonfilter: r1.DEPS_TYPE : 'commonCode29'}}</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-7 class="t_left t_bold">{{r1.ITEM_NAME_K}}</ion-col>
          <ion-col col-5 class="t_right">입고수량 {{r1.DEPS_QTY}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 class="t_left">{{r1.DEPS_DATE}} | {{commonCode13 | commonfilter: r1.VENDOR : 'commonCode13'}}</ion-col>
          <ion-col col-6 class="t_right t_bold">{{'' | commonfilter : r1.DEPS_FAMT: 'money_filter'}}<span *ngIf="r1.DEPS_FAMT">원</span></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>


  <div *ngIf="Tab2">
    <ion-card *ngFor="let r2 of result2; let i=index" (click) = "openDetail('tab2', r2)" class="Card_Grid">
      <ion-grid>
        <ion-row>
        <ion-col col-12 class="t_left">{{r2.PDTNO}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12 class="t_left t_bold">{{r2.PJT_NM}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12 class="t_left t_bold">{{'' | commonfilter : r2.QTY: 'money_filter'}}원</ion-col>
        </ion-row>

      </ion-grid>
    </ion-card>
  </div>
<!--  <ion-grid *ngIf="Tab2">
    <ion-row>
      <ion-col col-2>PJT번호</ion-col>
      <ion-col col-2>프로젝트명</ion-col>
      <ion-col col-2>입고금액</ion-col>
    </ion-row>
    <ion-row *ngFor="let r2 of result2; let i=index" (click) = "openDetail('tab2', r2)">
      <ion-col col-2>{{r2.PDTNO}}</ion-col>
      <ion-col col-2>{{r2.PJT_NM}}</ion-col>
      <ion-col col-2>{{'' | commonfilter : r2.QTY: 'money_filter'}}</ion-col>
    </ion-row>
  </ion-grid>-->

  <div *ngIf="Tab3">
    <ion-card *ngFor="let r3 of result3; let i=index" (click) = "openDetail('tab3', r3)" class="Card_Grid">
      <ion-grid>
        <ion-row>
          <ion-col col-12 class="t_left">{{r3.BU_CD}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-7 class="t_left t_bold"><div class="text_overflow">{{r3.VENDOR}} | {{r3.BY_NM}}</div></ion-col>
          <ion-col col-5 class="t_right t_bold">{{r3.BY_PRSN}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-7 class="t_left">{{r3.BY_TEL_NO}}</ion-col>
          <ion-col col-5 class="t_right t_bold">{{'' | commonfilter : r3.QTY: 'money_filter'}}원</ion-col>
        </ion-row>

      </ion-grid>
    </ion-card>
  </div>


<div *ngIf="Tab4">
  <ion-card *ngFor="let r4 of result4; let i=index" (click) = "openDetail('tab4', r4)" class="Card_Grid">
    <ion-grid>
      <ion-row>
        <ion-col col-6 class="t_left">{{r4.PDTNO}}</ion-col>
        <ion-col col-6 class="t_right">{{r4.DELV_DATE}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6 class="t_left t_bold"><div class="text_overflow">{{r4.VENDOR}} | {{commonCode13 | commonfilter: r4.VENDOR : 'commonCode13'}}</div></ion-col>
        <ion-col col-6 class="t_right">{{r4.DEPS_DATE}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 class="t_left">{{r4.ITEM}} | {{r4.NORM1}} | {{commonCode1 | commonfilter: r4.STOCK_UM : 'commonCode1'}}</ion-col>
      </ion-row>

    </ion-grid>
  </ion-card>
</div>

  <ion-fab bottom right><button ion-fab [hideFabOnscroll]='content' (click) = "scrollToTop()" class="top_btn"><img alt="top" src="../../../../assets/icon/top_button.png"></button></ion-fab>
</ion-content>


<!--
<ion-row>
  <ion-col col-2>공장코드</ion-col>
  <ion-col col-10>
    <ion-select [(ngModel)]="plant_cd" interface="popover">
      <ion-option value="{{p.PLANT}}" *ngFor = "let p of g_plant">{{p.PLANT_NAME_K}}</ion-option>
    </ion-select>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col col-4>
    <ion-item (click) = "PopupItnbr()">
      <ion-label color="primary">품목코드</ion-label>
    </ion-item>
  </ion-col>
  <ion-col col-7>
    <ion-item (click) = "PopupItnbr()">
      <ion-label>{{item_nm}}</ion-label>
    </ion-item>
  </ion-col>
  <ion-col col-1>
    <button ion-button *ngIf="item_nm" (click) = "clear_itnbr('')">X</button>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col col-4>
    <ion-item (click) = "PopupBuyer()">
      <ion-label color="primary">거래처</ion-label>
    </ion-item>
  </ion-col>
  <ion-col col-7>
    <ion-item (click) = "PopupBuyer()">
      <ion-label>{{cust_nm}}</ion-label>
    </ion-item>
  </ion-col>
  <ion-col col-1>
    <button ion-button *ngIf="cust_nm" (click) = "clear_buyer('')">X</button>
  </ion-col>
</ion-row>
-->

<!--
<ion-row>
  <ion-col col-2>품목구분</ion-col>
  <ion-col col-10>
    <ion-select [(ngModel)]="item_type" interface="popover">
      <ion-option value="" selected>전체</ion-option>
      <ion-option value="{{c.CODE}}" *ngFor = "let c of commonCode28">{{c.NAME1}}</ion-option>
    </ion-select>
  </ion-col>
</ion-row>-->


<!--  <ion-grid *ngIf="Tab1">
    <ion-row>
      <ion-col col-2>거래처</ion-col>
      <ion-col col-2>거래처명</ion-col>
      <ion-col col-2>입고의뢰일자</ion-col>
      <ion-col col-2>입고일자</ion-col>
      <ion-col col-2>입고번호</ion-col>
      <ion-col col-2>품목코드</ion-col>
      <ion-col col-2>품목명칭</ion-col>
      <ion-col col-2>규격</ion-col>
      <ion-col col-2>단위</ion-col>
      <ion-col col-2>등급</ion-col>
      <ion-col col-2>입고유형</ion-col>
      <ion-col col-2>입고수량</ion-col>
      <ion-col col-2>입고단가</ion-col>
      <ion-col col-2>입고금액</ion-col>
      <ion-col col-2>총금액</ion-col>
      <ion-col col-2>조달구분</ion-col>
      <ion-col col-2>통화</ion-col>
    </ion-row>
    <ion-row *ngFor="let r1 of result1; let i=index" (click) = "openDetail('tab1', r1)">
      <ion-col col-2>{{r1.VENDOR}}</ion-col>
      <ion-col col-2>{{commonCode13 | commonfilter: r1.VENDOR : 'commonCode13'}}</ion-col>
      <ion-col col-2>{{r1.DELV_DATE}}</ion-col>
      <ion-col col-2>{{r1.DEPS_DATE}}</ion-col>
      <ion-col col-2>{{r1.DEPS_NO}}</ion-col>
      <ion-col col-2>{{r1.ITEM}}</ion-col>
      <ion-col col-2>{{r1.ITEM_NAME_K}}</ion-col>
      <ion-col col-2>{{r1.NORM1}}</ion-col>
      <ion-col col-2>{{commonCode1 | commonfilter: r1.STOCK_UM : 'commonCode1'}}</ion-col>
      <ion-col col-2>{{r1.ABC_CD}}</ion-col>
      <ion-col col-2>{{commonCode29 | commonfilter: r1.DEPS_TYPE : 'commonCode29'}}</ion-col>
      <ion-col col-2>{{r1.DEPS_QTY}}</ion-col>
      <ion-col col-2>{{'' | commonfilter : r1.DEPS_PRICE: 'money_filter'}}</ion-col>
      <ion-col col-2>{{'' | commonfilter : r1.DEPS_AMT: 'money_filter'}}</ion-col>
      <ion-col col-2>{{'' | commonfilter : r1.DEPS_FAMT: 'money_filter'}}</ion-col>
      <ion-col col-2>{{commonCode2 | commonfilter: r1.SUPL_CLASS : 'commonCode2'}}</ion-col>
      <ion-col col-2>{{commonCode3 | commonfilter: r1.CURRENCY : 'commonCode3'}}</ion-col>
    </ion-row>
  </ion-grid>-->


<!--
<ion-grid *ngIf="Tab3">
  <ion-row>
    <ion-col col-2>거래처</ion-col>
    <ion-col col-2>거래처명</ion-col>
    <ion-col col-2>사업자번호</ion-col>
    <ion-col col-2>전화번호</ion-col>
    <ion-col col-2>대표자명</ion-col>
    <ion-col col-2>입고금액</ion-col>
  </ion-row>
  <ion-row *ngFor="let r3 of result3; let i=index" (click) = "openDetail('tab3', r3)">
    <ion-col col-2>{{r3.VENDOR}}</ion-col>
    <ion-col col-2>{{r3.BY_NM}}</ion-col>
    <ion-col col-2>{{r3.BU_CD}}</ion-col>
    <ion-col col-2>{{r3.BY_TEL_NO}}</ion-col>
    <ion-col col-2>{{r3.BY_PRSN}}</ion-col>
    <ion-col col-2>{{'' | commonfilter : r3.QTY: 'money_filter'}}</ion-col>
  </ion-row>
</ion-grid>--><!--
<ion-grid *ngIf="Tab4">
  <ion-row>
    <ion-col col-2>프로젝트번호</ion-col>
    <ion-col col-2>거래처</ion-col>
    <ion-col col-2>거래처명</ion-col>
    <ion-col col-2>입고의뢰일자</ion-col>
    <ion-col col-2>입고일자</ion-col>
    <ion-col col-2>입고번호</ion-col>
    <ion-col col-2>품목코드</ion-col>
    <ion-col col-2>규격</ion-col>
    <ion-col col-2>단위</ion-col>
    <ion-col col-2>입고수량</ion-col>
    <ion-col col-2>입고단가</ion-col>
    <ion-col col-2>입고금액</ion-col>
    <ion-col col-2>총금액</ion-col>
  </ion-row>
  <ion-row *ngFor="let r4 of result4; let i=index" (click) = "openDetail('tab4', r4)">
    <ion-col col-2>{{r4.PDTNO}}</ion-col>
    <ion-col col-2>{{r4.VENDOR}}</ion-col>
    <ion-col col-2>{{commonCode13 | commonfilter: r4.VENDOR : 'commonCode13'}}</ion-col>
    <ion-col col-2>{{r4.DELV_DATE}}</ion-col>
    <ion-col col-2>{{r4.DEPS_DATE}}</ion-col>
    <ion-col col-2>{{r4.DEPS_NO}}</ion-col>
    <ion-col col-2>{{r4.ITEM}}</ion-col>
    <ion-col col-2>{{r4.NORM1}}</ion-col>
    <ion-col col-2>{{commonCode1 | commonfilter: r4.STOCK_UM : 'commonCode1'}}</ion-col>
    <ion-col col-2>{{r4.DEPS_QTY}}</ion-col>
    <ion-col col-2>{{'' | commonfilter : r4.DEPS_PRICE: 'money_filter'}}</ion-col>
    <ion-col col-2>{{'' | commonfilter : r4.DEPS_AMT: 'money_filter'}}</ion-col>
    <ion-col col-2>{{'' | commonfilter : r4.DEPS_FAMT: 'money_filter'}}</ion-col>
  </ion-row>
</ion-grid>-->
