<!--
  Generated template for the PopupItnbrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>품목 검색</ion-title>
    <button ion-button (click) = "closeModal()">Close</button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-2>품목코드</ion-col>
      <ion-col col-4><ion-input [(ngModel)] = "itnbr"></ion-input></ion-col>
      <ion-col col-2>품목명칭</ion-col>
      <ion-col col-4><ion-input [(ngModel)] = "itnbr_nm"></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>규격</ion-col>
      <ion-col col-4><ion-input [(ngModel)] = "spec1"></ion-input></ion-col>
      <ion-col col-2>재질/형명</ion-col>
      <ion-col col-4><ion-input [(ngModel)] = "jijic"></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>품목형태</ion-col>
      <ion-col col-10>
        <ion-select [(ngModel)]="iform" interface="popover">
          <ion-option value="">전체</ion-option>
          <ion-option value="{{i.IFORM}}" *ngFor = "let i of iform_list">{{i.IFORM_NM}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button (click) = "retrive()">조회</button>

  <ion-grid>
    <ion-row>
      <ion-col col-2>품목코드</ion-col>
      <ion-col col-2>품목명칭</ion-col>
      <ion-col col-2>규격</ion-col>
      <ion-col col-2>재질/형명</ion-col>
      <ion-col col-2>단위</ion-col>
      <ion-col col-2>품목형태</ion-col>
    </ion-row>
    <ion-row *ngFor="let r of result" (click) = "selectItem(r)">
      <ion-col col-2>{{r.ITNBR}}</ion-col>
      <ion-col col-2>{{r.ITDSC}}</ion-col>
      <ion-col col-2>{{r.ISPEC1}}</ion-col>
      <ion-col col-2>{{r.JIJIC}}</ion-col>
      <ion-col col-2>{{r.UNMSR_NM}}</ion-col>
      <ion-col col-2>{{r.IFORM_NM}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading...">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
