/*=========================================================================================================
  COMMON CSS
=========================================================================================================*/
  /* 스크롤바 hide */
  ::-webkit-scrollbar{ display:none; }

  /* ion-title */
  .toolbar-title-md{
    font-size : 20px;
  }

  /* ion-header */
  .toolbar-background-md{
    background-color : #007087;
    color: white;
  }

  .toolbar-md{
    min-height: 45px;
  }


  /*조회 버튼*/
  .search_btn{
    background-color : #007087;
    box-shadow: none;
    border-radius: 5px;
    width: 99%;
  }

  /* 퀵메뉴 스크롤*/
  .quick_menu{
    border-radius : 0px;
    margin: 0px;
    padding: 0px;
    width: 12%;
    color: white;
    box-shadow: none;
    background-color: #007087;
    font-weight: bold;
    //font-size: 16px;
    margin-top: -3%;
  }

  ion-label{
    overflow: initial;
  }

  .button_body{
    width: 100%;
  }

  /*툴바 타이틀 */
  .toolbar-title-md{
    font-size: 18px;
    color: white;
  }

  /*폰트*/
  span.button-inner{
    font-family: 굴림체;
  }

  .toolbar-md{
    padding: 0px;
  }

  /*chart_grid*/
  .chart_grid{
    border-bottom: 1px solid #EAEAEA;
  }

  ion-content{
    padding: 3px;
  }

  .main_left{
    text-align: left;
    color: gray
  }

  .main_black{
    color: black;
  }

  .main_right{
    text-align: right;
  }

  .main_bold{
    font-weight: bold;
    font-size: 15px;
    color: black;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: white;
  }


/*=========================================================================================================
  POPUP PROGRAM CSS
=========================================================================================================*/
popup_page{

 .close_btn{
    width: 25px;
    height: 25px;
    float: right;
 }

  ion-header{
    width: 100%;
    position:relative;
  }

  ion-navbar{
    width: 100%;
    position:relative;
  }

  ion-title{
    width:100%;
    text-align: center;
  }

  .scroll-content{
    background-color: #F6F6F6;
  }

  /* 필터 조건 명 */
  .search_nm{
    text-align : center;
    color: gray;
    width: 95%;
    margin-top: 5%;
    margin-left: 2%;
  }

  /*필터 조건 값*/
  .search_val{
    width: 90%;
    border: solid 1px #F6F6F6;
    height: 100%;
  }

  /*필터 조건 값2*/
  .search_val2{
    width: 90%;
    border: solid 1px #F6F6F6;
    height: 100%;
  }

  /*그리드 헤더 색상*/
  .grid_header{
    background-color: darkgray;
    text-align: center;
  }

  .grid_header2{
    text-align: center;
  }

  /*조회 그리드*/
  .user_grid {
    padding: 0px;
  }

  .user_grid ion-row:nth-of-type(odd) {
    background: #EAEAEA;
    // #FAF4C0
    font-weight: bold;
  }

  .user_grid ion-row ion-col{
    text-align: center;
    //border: 1px solid white;
    font-size: 13px;
    font-weight: bold;
  }
}


/*=========================================================================================================
  MAIN PROGRAM CSS
=========================================================================================================*/
page-main {
  ion-title img{
    width:auto;
    height:auto;
    max-width:243px;
    max-height: 42px;
    vertical-align: middle;
  }

  ion-navbar .toolbar-background-md{
    background-color : white;
  }

  .main_grid{
    border-left: 6px solid #007087;
  }

  .bodt_title{
    color: #424242;
    font-weight: bold;
    margin-left: 3%;
  }

  .top_btn{
    background-color: rgba(0,0,0,0);
    opacity: 0;
    box-shadow: none;
  }

  ion-header{
    width: 100%;
    position:relative;
  }

  ion-navbar{
    width: 100%;
    position:relative;
  }

  ion-title{
    width:82%;
    text-align: center;
  }

  /*메인 프로젝트명 ...처리*/
  .main_overflow{
    white-space: nowrap;
    width: 80%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

/*=========================================================================================================
  SIDE MENU PROGRAM CSS
=========================================================================================================*/
page-main-template {

  .a {
    background-color: #F6F6F6;
    color:black;
    font-weight:bold;
    font-size:8px;
    padding: 0px;
  }

  .label-md {
    margin : 0px;
  }

  .list-md{
    margin : 0px;
  }

  .fixed-content{
    background-color: none;
  }

  .side_menu{
    background-color: #F6F6F6;
  }

  h4.big_menu{
    padding-left : 15px;
  }

  .item-md.item-block .item-inner{
    padding-right: 0px;
  }

  .log_out_btn{
    float: right;
    background-color : white;
    -webkit-box-shadow: none;
    margin: 0px;
  }

  .user_info{
    margin-top: 1%;
  }

}

/*=========================================================================================================
  INTRO PROGRAM CSS
=========================================================================================================*/
page-splashscreen{
  .wrap{
          position:relative;
          height:100%;
          margin-bottom:40px
  }
  .center{
            position:absolute;
            top:50%;
            transform:translate(50%, -50%);
            font-size: 30px;
            font-weight: bold;
  }
}



/*=========================================================================================================
  SEARCH PROGRAM CSS
=========================================================================================================*/
search_page{
  /*그리드 헤더 색상*/
  .grid_header{
    background-color: darkgray;
    text-align: center;
  }

  ion-header{
    width: 100%;
    position:relative;
  }

  ion-navbar{
    width: 100%;
    position:relative;
  }

  ion-title{
    width:82%;
    text-align: center;
  }

  .grid_header2{
    text-align: center;
  }

  /* 필터 조건 명 */
 .search_nm{
  text-align : center;
  color: gray;
  width: 95%;
  margin-top: 5%;
  margin-left: 2%;
 }

  /*필터 조건 값*/
 .search_val{
    width: 90%;
    border: solid 1px #F6F6F6;
    height: 100%;
 }

  /*필터 조건 값2*/
 .search_val2{
    width: 90%;
    border: solid 1px #F6F6F6;
    height: 100%;
 }


  /*검색 값 초기화 버튼*/
 .cancel_btn{
    float: right;
    background-color : #F6F6F6;
    margin-top :1%;
    height : 87%;
    width: 10%;
 }

  /*조건 전체 버튼*/
  .all_btn{
    background-color : #FFCD12;
    border : 1px solid #FFCD12;
    border-radius: 0px;
    box-shadow: none;
    margin-left: 5%;
    margin-top: 3%;
    width: 20%;
    height: 5%;
  }


  /*조건 필터 버튼*/
  .filter_btn{
    background-color : #FFCD12;
    border : 1px solid #FFCD12;
    border-radius: 0px;
    box-shadow: none;
    margin-top: 3%;
    width: 20%;
    height: 5%;
  }

  /*검색조건 1이면 조회조건1개 2면 2개*/
  .search_row{
    height: 40px;
  }

  /*카드 리스트 top*/
  .Card_Grid{
    //margin-top : 0px;
    border-radius : 5px;
    border-top : 2px solid #F6F6F6;
  }

  /*카드 리스트 top*/
  .Card_Grid2{
    margin : 0px;
    border-radius : 2px;
    width : 100%;
    border-bottom : 1px solid #CACACA;
  }

  /* 탭페이지*/
  .tabpage{
    margin: 0px;
    padding: 0px;
  }

  .tabpage .input-wrapper{
    align-items: flex-end;
  }

  .item-md.item-block .item-inner{
    padding-right: 0px;
  }

  /* 탭페이지 2개인 경우*/
  .tabpage1{
    width: 50%;
    border-radius : 0px;
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: black;
    border-bottom: 4px solid;
    box-shadow: none;
  }

  /* 탭페이지 3개인 경우*/
  .tabpage3{
    border-radius : 0px;
    margin: 0px;
    padding: 0px;
    width: 33%;
    background-color: white;
    color: black;
    border-bottom: 4px solid;
    box-shadow: none;
    height: 50px;
  }

  /* 탭페이지 4개인 경우*/
  .tabpage4{
    border-radius : 0px;
    margin: 0px;
    padding: 0px;
    width: 25%;
    background-color: white;
    color: black;
    border-bottom: 4px solid;
    box-shadow: none;
    height: 100%;
  }

  /* 탭페이지 6개인 경우*/
  .tabpage6{
    border-radius : 0px;
    margin: 0px;
    padding: 0px;
    width: 16%;
    background-color: white;
    color: black;
    border-bottom: 4px solid;
    box-shadow: none;
    height: 100%;
  }

  /* phd04_grid 양쪽정렬*/
  .phd04_grid{
    float: right;
    font-size : small;
  }

  /* phd04 그리드 bottom*/
  .grid_bottom{
    border-bottom : 1px solid #F6F6F6;
    font-size: small;
  }

  .t_left{
    text-align: left;
    color: gray
  }

  .t_center{
    text-align: center;
  }

  .t_black{
    color: black;
  }

  .t_right{
    text-align: right;
  }

  .t_bold{
    font-weight: bold;
    font-size: 15px;
    color: black;
  }

  .top_btn{
    background-color: rgba(0,0,0,0);
    opacity: 0;
    box-shadow: none;
  }

  /*그리드 색상 및 폰트 크기*/
  .grid_text{
    font-size: x-small;
    text-align: center;
  }

  /*프로젝트 상태*/
  .pjt_status{
    border: 1px solid darkorange;
    width: 18%;
    text-align: center;
    border-radius: 15px;
    font-size: smaller;
  }

  /* 긴글자 ...처리*/
  .text_overflow{
    white-space: nowrap;
    width: 120%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .scroll-content{
    background-color: #F6F6F6;
  }

  /*pdd06 chart css*/
  .chart_bg ion-scroll .scroll-content{
    width: 100%;
    background-color: white;
  }

  .chart_bg{
    position: relative;
  }

  .chart_bg ion-scroll .scroll-content .scroll-zoom-wrapper ion-card-content{
    margin-right: 0px;
    align: center;
  }

  ion-card-content .card-content .card-content-md{
    margin: 0px;
  }
}




/*=========================================================================================================
  DETAIL PROGRAM CSS
=========================================================================================================*/

detail_page{

  .detail_grid {
    padding: 0px;
  }

  .detail_grid ion-row:nth-of-type(odd) {
    background: #9EBEC4;
    font-weight: bold;
  }

  .detail_grid ion-row{
    display: table;
  }

  .detail_grid ion-row ion-col{
    text-align: center;
    border: 1px solid black;
    font-size: 13px;
    height: 34px;
    vertical-align: middle;
    display: table-cell;
  }

  .grid{
    padding: 0px;
  }

  /*조회 결과 그리드 */
  .retrive_grid ion-row:nth-of-type(odd) {
    background: #EAEAEA;
    font-weight: bold;
    text-align: center;
  }

  .retrive_grid ion-row:nth-of-type(even) {
    text-align: center;
  }

  .item-md.item-block .item-inner{
    border-bottom: none;
  }

 .scroll-content{
   background-color: #F6F6F6;
 }

 .close_btn{
    width: 25px;
    height: 25px;
    float: right;
 }

  ion-header{
    width: 100%;
    position:relative;
  }

  ion-navbar{
    width: 100%;
    position:relative;
  }

  ion-title{
    width:100%;
    text-align: center;
  }

}
