.wrap{
        position:relative;
        height:100%;
        margin-bottom:40px
     }
.center{
          position:absolute;
          top:50%;
          transform:translate(50%, -50%);
          font-size: 30px;
          font-weight: bold;
       }

/* 스크롤바 hide */
::-webkit-scrollbar{ display:none; }

/* ion-title */
.toolbar-title-md{
  font-size : 20px;
}

/* ion-header */
.toolbar-background-md{
  background-color : #FFC000;
  //#FFC000  #FFDF24
  color: white;
}

.toolbar-md{
  min-height: 45px;
}

/* header close button */
.close_btn{
  background-color : #EDCE7A;
}

/*
 * 조회 프로그램 공통 CSS
*/

.t_left{
  text-align: left;
  color: gray
}

.t_black{
  color: black;
}

.t_right{
  text-align: right;
}

.t_bold{
  font-weight: bold;
  font-size: 15px;
  color: black;
}

.top_btn{
  background-color: rgba(0,0,0,0);
  opacity: 0;
  box-shadow: none;
}



/*
 * 상세 프로그램 CSS
 */

.detail_grid {
  padding: 0px;
}

.detail_grid ion-row:nth-of-type(odd) {
  background: #A6A6A6;
  // #FAF4C0
  font-weight: bold;
  color: white;
}

.detail_grid ion-row ion-col{
  text-align: center;
  border: 1px solid white;
  font-size: 11px;
  font-weight: bold;
}

   /*조회 그리드*/
  .user_grid {
    padding: 0px;
  }

  .user_grid ion-row:nth-of-type(odd) {
    background: #EAEAEA;
    // #FAF4C0
    font-weight: bold;
  }

  .user_grid ion-row ion-col{
    text-align: center;
    //border: 1px solid white;
    font-size: 13px;
    font-weight: bold;
  }


/* 필터 조건 명 */
 .search_nm{
  text-align : center;
  color: gray;
  width: 95%;
  margin-top: 5%;
  margin-left: 2%;
 }

/*필터 조건 값*/
 .search_val{
    width: 90%;
    border: solid 1px #F6F6F6;
    height: 100%;
 }

/*필터 조건 값2*/
 .search_val2{
    width: 90%;
    border: solid 1px #F6F6F6;
    height: 100%;
 }


/*검색 값 초기화 버튼*/
 .cancel_btn{
    float: right;
    background-color : white;
    margin-top :1%;
    height : 87%;
    width: 10%;
 }

  /*조건 전체 버튼*/
  .all_btn{
    background-color : #FFCD12;
    border : 1px solid #FFCD12;
    border-radius: 0px;
    box-shadow: none;
    margin-left: 5%;
    margin-top: 3%;
    width: 20%;
    height: 5%;
  }


  /*조건 필터 버튼*/
  .filter_btn{
    background-color : #FFCD12;
    border : 1px solid #FFCD12;
    border-radius: 0px;
    box-shadow: none;
    margin-top: 3%;
    width: 20%;
    height: 5%;
  }

  /*조회 버튼*/
  .search_btn{
    background-color : #FFCD12;
    box-shadow: none;
    border-radius: 5px;
    width: 98%;
  }

  /*조회조건 1개일때 조회 버튼*/
  .search_btn_margin{
    margin-top: -25%;
  }

  /*검색조건 1이면 조회조건1개 2면 2개*/
  .search_grid2{
    height: 15%;
  }

  .search_row2{
    height: 100%;
  }

  .search_row1{
    height: 50%;
  }

  .search_grid3{
    height: 23%;
  }

  .search_row3{
    height: 100%;
  }

  .search_grid4{
    height: 27%;
  }

  .search_row4{
    height: 100%;
  }



  /*카드 리스트 top*/
  .Card_Grid{
    margin : 0px;
    border-radius : 0px;
    width : 100%;
    border-top : 1px solid #F6F6F6;
  }

  /*카드 리스트 top*/
  .Card_Grid2{
    margin : 0px;
    border-radius : 0px;
    width : 100%;
    border-bottom : 1px solid #F6F6F6;
  }

/* 팝업 닫기 버튼*/

  .popup_close{
    float: right;
    background-color: #FFC000;
    border: 0px;
    box-shadow : none;
  }

/* phd04_grid 양쪽정렬*/

  .phd04_grid{
    float: right;
    font-size : small;
  }

  /* phd04 그리드 bottom*/
  .grid_bottom{
    border-bottom : 1px solid #F6F6F6;
    font-size: small;
  }

  /* 탭페이지*/
  .tabpage{
    padding: 0px;
    padding-right: 0px;
  }

  .item-md.item-block .item-inner{
    padding-right: 0px;
  }

  /* 탭페이지 2개인 경우*/
  .tabpage1{
    width: 50%;
    border-radius : 0px;
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: black;
    border-bottom: 4px solid;
    box-shadow: none;
  }

  /* 탭페이지 3개인 경우*/
  .tabpage3{
    border-radius : 0px;
    margin: 0px;
    padding: 0px;
    width: 33%;
    background-color: white;
    color: black;
    border-bottom: 4px solid;
    box-shadow: none;
  }

  /* 탭페이지 4개인 경우*/
  .tabpage4{
    border-radius : 0px;
    margin: 0px;
    padding: 0px;
    width: 25%;
    background-color: white;
    color: black;
    border-bottom: 4px solid;
    box-shadow: none;
  }

  /* 탭페이지 6개인 경우*/
  .tabpage6{
    border-radius : 0px;
    margin: 0px;
    padding: 0px;
    width: 16%;
    background-color: white;
    color: black;
    border-bottom: 4px solid;
    box-shadow: none;
  }

  /* 퀵메뉴 스크롤*/
  .quick_menu{
    border-radius : 0px;
    margin: 0px;
    padding: 0px;
    width: 13%;
    color: #5D5D5D;
    box-shadow: none;
    background-color: #F6F6F6;
    font-weight: bold;
    font-size: 16px;
    margin-top: -3%;
  }

  ion-label{
    overflow: initial;
  }

  .button_body{
    width: 100%;
  }

  /*그리드 헤더 색상*/
  .grid_header{
    background-color: darkgray;
    text-align: center;
  }

  .grid_header2{
    text-align: center;
  }

  /*그리드 색상 및 폰트 크기*/
  .grid_text{
    font-size: x-small;
    text-align: center;
  }

  /*프로젝트 상태*/
  .pjt_status{
    border: 1px solid darkorange;
    width: 18%;
    text-align: center;
    border-radius: 15px;
    font-size: smaller;
  }

  /* 긴글자 ...처리*/
  .text_overflow{
    white-space: nowrap;
    width: 120%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  /*메인 프로젝트명 ...처리*/
  .main_overflow{
    white-space: nowrap;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }



  .grid{
    padding: 0px;
  }

  /*조회 결과 그리드 */
  .retrive_grid ion-row:nth-of-type(odd) {
    background: #EAEAEA;
    font-weight: bold;
    text-align: center;
  }

  .retrive_grid ion-row:nth-of-type(even) {
    text-align: center;
  }

  .item-md.item-block .item-inner{
    border-bottom: none;
  }

  /*툴바 타이틀 */
  .toolbar-title-md{
    font-size: 18px;
    color: white;
  }
  .title_text{
    margin-left: 16%;
  }

  /*폰트*/
  span.button-inner{
    font-family: 굴림체;
  }

  .toolbar-md{
    padding: 0px;
  }


  /*chart_grid*/
  .chart_grid{
    border-bottom: 1px solid #EAEAEA;
  }

  /*팝업 뒤로가기 버튼 색상*/
  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
    color: white;
  }

  /*팝업 텍스트*/
  span.popup_text{
    margin-left: 38%;
  }
