.wrap{
        position:relative;
        height:100%;
        margin-bottom:40px
     }
.center{
          position:absolute;
          top:50%;
          transform:translate(50%, -50%);
          font-size: 30px;
          font-weight: bold;
       }

/* ion-title */
.toolbar-title-md{
  font-size : 25px;
}
/* ion-header */
.toolbar-background-md{
  background-color : #EDCE7A;
}

/* header close button */
.close_btn{
  background-color : #EDCE7A;
}

/*
 * 조회 프로그램 공통 CSS
*/

.t_left{
  text-align: left;
}

.t_right{
  text-align: right;
}

.t_bold{
  font-weight: bold;
  font-size: 15px;
}


/*
 * 상세 프로그램 CSS
 */

.detail_grid {
  padding: 0px;
}

.detail_grid ion-row:nth-of-type(odd) {
  background: #FAF4C0;
  font-weight: bold;
}

.detail_grid ion-row ion-col{
  text-align: center;
  border: 1px solid white;
  font-size: 10px;
}
