<!--
  Generated template for the Shb04Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title_text">수금현황 조회</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <button ion-button (click) = "condition_yn('')" class="all_btn" [ngStyle]="{'border-color': borderColor1, 'background-color': all_search_Color1, 'color': text_color1}" (click) = "all_btn()">전체</button>
  <button ion-button (click) = "condition_yn('true')" class="filter_btn" [ngStyle]="{'border-color': borderColor2, 'background-color': all_search_Color2, 'color': text_color2}" (click) = "filter_btn()">필터</button>
  <br>
  <ion-grid *ngIf="searchCondition">

    <ion-row class="search_row">
      <ion-col col-3>
        <div (click) = "PopupBuyer()" class="search_nm">거래처명</div>
      </ion-col>
      <ion-col col-9>
        <span (click) = "PopupBuyer()"><input type="text" value="{{cust_nm}}" class="search_val"></span><button  *ngIf="cust_nm" (click) = "clear_buyer('')" class="cancel_btn"><img src="../../../assets/imgs/text_delete_btn.gif"/></button>
      </ion-col>
    </ion-row>

    <ion-row class="search_row">
      <ion-col col-3>
        <div class="search_nm">매출일자</div>
      </ion-col>

      <ion-col col-4>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="date_fr"></ion-datetime>
      </ion-col>
      <ion-col col-4>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="date_to"></ion-datetime>
      </ion-col>
    </ion-row>

    <ion-row class="search_row">
      <ion-col col-3>
        <div (click) = "PopupDept()" class="search_nm">부서명</div>
      </ion-col>

      <ion-col col-9>
        <span (click) = "PopupDept()"><input type="text" value="{{dptnm}}" class="search_val"></span><button  *ngIf="dptnm" (click) = "clear_dept('')" class="cancel_btn"><img src="../../../assets/imgs/text_delete_btn.gif"/></button>
      </ion-col>
    </ion-row>


  </ion-grid>
  <br>

  <div class="btn_div">
    <button ion-button (click) = "retrive()" *ngIf="acc_btn_retrive" class="search_btn">조회</button>
  </div>
  <!--<button ion-button (click) = "add()" *ngIf="acc_btn_add">추가</button>
  <button ion-button (click) = "save()" *ngIf="acc_btn_save">저장</button>
  <button ion-button (click) = "delete()" *ngIf="acc_btn_delete">삭제</button>
  <button ion-button (click) = "print()" *ngIf="acc_btn_print">출력</button>-->

  <ion-item class='tabpage'>
    <div class="button_body">
      <button ion-button (click) = "changeTab('1')" class="tabpage3" [ngStyle]="{'border-color': buttonColor1}" (click) = "btn_change1()">상세현황</button>
      <button ion-button (click) = "changeTab('2')" class="tabpage3" [ngStyle]="{'border-color': buttonColor2}" (click) = "btn_change2()">거래처별</button>
      <button ion-button (click) = "changeTab('3')" class="tabpage3" [ngStyle]="{'border-color': buttonColor3}" (click) = "btn_change3()">부서별</button>
    </div>
  </ion-item>

  <div *ngIf="Tab1">
    <ion-card *ngFor="let r1 of result1" (click) = "openDetail(r1)" class="Card_Grid">
      <ion-grid>
        <ion-row>
          <ion-col col-12 class="t_left t_bold text_overflow">{{r1.PJTNM}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-7 class="t_left">{{r1.JDATA}} | {{commonCode13 | commonfilter: r1.CVCOD : 'commonCode13'}}</ion-col>
          <ion-col col-5 class="t_right t_bold ">{{'' | commonfilter : r1.AMT2: 'money_filter'}}<span *ngIf="r1.AMT2">원</span></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <div *ngIf="Tab2">
    <ion-card *ngFor="let r2 of result2" class="Card_Grid">
      <ion-grid>
        <ion-row>
          <ion-col col-12 class="t_left t_bold">{{commonCode13 | commonfilter: r2.CVCOD : 'commonCode13'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2 class="t_left">현금</ion-col>
          <ion-col col-4 class="t_right t_bold ">{{'' | commonfilter : r2.CASH_AMT: 'money_filter'}}<span *ngIf="r2.CASH_AMT">원</span></ion-col>
          <ion-col col-2 class="t_left">VAT</ion-col>
          <ion-col col-4 class="t_right t_bold ">{{'' | commonfilter : r2.VAT: 'money_filter'}}<span *ngIf="r2.VAT">원</span></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2 class="t_left">어음</ion-col>
          <ion-col col-4 class="t_right t_bold ">{{'' | commonfilter : r2.BILL_AMT: 'money_filter'}}<span *ngIf="r2.BILL_AMT">원</span></ion-col>
          <ion-col col-2 class="t_left">합계</ion-col>
          <ion-col col-4 class="t_right t_bold ">{{'' | commonfilter : r2.CASH_AMT + r2.BILL_AMT + r2.VAT: 'money_filter'}}<span *ngIf="r2.CASH_AMT + r2.BILL_AMT + r2.VAT">원</span></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <div *ngIf="Tab3">
    <ion-card *ngFor="let r3 of result3" class="Card_Grid">
      <ion-grid>
        <ion-row>
          <ion-col col-12 class="t_left t_bold">{{commonCode8 | commonfilter: r3.DPTNO : 'commonCode8'}} {{commonCode12 | commonfilter: r3.EMPNO : 'commonCode12'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2 class="t_left">현금</ion-col>
          <ion-col col-4 class="t_right t_bold ">{{'' | commonfilter : r3.CASH_AMT: 'money_filter'}}<span *ngIf="r3.CASH_AMT">원</span></ion-col>
          <ion-col col-2 class="t_left">VAT</ion-col>
          <ion-col col-4 class="t_right t_bold ">{{'' | commonfilter : r3.VAT: 'money_filter'}}<span *ngIf="r3.VAT">원</span></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2 class="t_left">어음</ion-col>
          <ion-col col-4 class="t_right t_bold ">{{'' | commonfilter : r3.BILL_AMT: 'money_filter'}}<span *ngIf="r3.BILL_AMT">원</span></ion-col>
          <ion-col col-2 class="t_left">합계</ion-col>
          <ion-col col-4 class="t_right t_bold ">{{'' | commonfilter : r3.CASH_AMT + r3.BILL_AMT + r3.VAT: 'money_filter'}}<span *ngIf="r3.CASH_AMT + r3.BILL_AMT + r3.VAT">원</span></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <ion-fab bottom right><button ion-fab [hideFabOnscroll]='content' (click) = "scrollToTop()" class="top_btn"><img alt="top" src="../../../../assets/icon/top_button.png"></button></ion-fab>
</ion-content>


<!--
<ion-row>
  <ion-col col-2>공장코드</ion-col>
  <ion-col col-10>
    <ion-select [(ngModel)]="plant_cd" interface="popover">
      <ion-option value="{{p.PLANT}}" *ngFor = "let p of g_plant">{{p.PLANT_NAME_K}}</ion-option>
    </ion-select>
  </ion-col>
</ion-row>-->


<!--
<ion-row>
  <ion-col col-4>
    <ion-item (click) = "PopupBuyer()">
      <ion-label color="primary">거래처</ion-label>
    </ion-item>
  </ion-col>
  <ion-col col-7>
    <ion-item (click) = "PopupBuyer()">
      <ion-label>{{cust_nm}}</ion-label>
    </ion-item>
  </ion-col>
  <ion-col col-1>
    <button ion-button *ngIf="cust_nm" (click) = "clear_buyer('')">X</button>
  </ion-col>
</ion-row>-->


<!--
<ion-row>
  <ion-col col-4>
    <ion-item (click) = "PopupDept()">
      <ion-label color="primary">부서코드</ion-label>
    </ion-item>
  </ion-col>
  <ion-col col-7>
    <ion-item (click) = "PopupDept()">
      <ion-label>{{dptnm}}</ion-label>
    </ion-item>
  </ion-col>
  <ion-col col-1>
    <button ion-button *ngIf="dptnm" (click) = "clear_dept('')">X</button>
  </ion-col>
</ion-row>-->
