<!--
  Generated template for the Shb04Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>수금현황조회</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <button ion-button (click) = "condition_yn('')">전체</button>
  <button ion-button (click) = "condition_yn('true')">조건검색</button>
  <br>
  <ion-grid *ngIf="searchCondition">
    <ion-row>
      <ion-col col-2>공장코드</ion-col>
      <ion-col col-10>
        <ion-select [(ngModel)]="plant_cd" interface="popover">
          <ion-option value="{{p.PLANT}}" *ngFor = "let p of g_plant">{{p.PLANT_NAME_K}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <ion-item (click) = "PopupDept()">
          <ion-label color="primary">부서코드</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-7>
        <ion-item (click) = "PopupDept()">
          <ion-label>{{dptnm}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-1>
        <button ion-button *ngIf="dptnm" (click) = "clear_dept('')">X</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <ion-item (click) = "PopupBuyer()">
          <ion-label color="primary">거래처</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-7>
        <ion-item (click) = "PopupBuyer()">
          <ion-label>{{cust_nm}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-1>
        <button ion-button *ngIf="cust_nm" (click) = "clear_buyer('')">X</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <ion-label>수금기간</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="date_fr"></ion-datetime>
      </ion-col>
      <ion-col col-4>
        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="date_to"></ion-datetime>
      </ion-col>
    </ion-row>

  </ion-grid>
  <br>
  <button ion-button (click) = "retrive()" *ngIf="acc_btn_retrive">조회</button>
  <!--<button ion-button (click) = "add()" *ngIf="acc_btn_add">추가</button>
  <button ion-button (click) = "save()" *ngIf="acc_btn_save">저장</button>
  <button ion-button (click) = "delete()" *ngIf="acc_btn_delete">삭제</button>
  <button ion-button (click) = "print()" *ngIf="acc_btn_print">출력</button>-->

  <ion-item>
    <button ion-button (click) = "changeTab('1')">상세현황</button>
    <button ion-button (click) = "changeTab('2')">거래처별</button>
    <button ion-button (click) = "changeTab('3')">부서별</button>
  </ion-item>

  <div *ngIf="Tab1">
    <ion-card *ngFor="let r1 of result1" (click) = "openDetail(r1)">
      <ion-grid>
        <ion-row>
          <ion-col col-7 class="t_left t_bold">{{r1.PJTNM}}</ion-col>
          <ion-col col-5 class="t_right t_bold ">{{'' | commonfilter : r1.AMT2: 'money_filter'}}<span *ngIf="r1.AMT2">원</span></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="t_left">{{r1.JDATA}} | {{commonCode13 | commonfilter: r1.CVCOD : 'commonCode13'}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <div *ngIf="Tab2">
    <ion-card *ngFor="let r2 of result2">
      <ion-grid>
        <ion-row>
          <ion-col col-12 class="t_left t_bold">{{commonCode8 | commonfilter: r2.CVCOD : 'commonCode8'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 class="t_left">현금</ion-col>
          <ion-col col-3 class="t_right t_bold ">{{'' | commonfilter : r2.CASH_AMT: 'money_filter'}}<span *ngIf="r2.CASH_AMT">원</span></ion-col>
          <ion-col col-2 class="t_left">VAT</ion-col>
          <ion-col col-4 class="t_right t_bold ">{{'' | commonfilter : r2.VAT: 'money_filter'}}<span *ngIf="r2.VAT">원</span></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 class="t_left">어음</ion-col>
          <ion-col col-3 class="t_right t_bold ">{{'' | commonfilter : r2.BILL_AMT: 'money_filter'}}<span *ngIf="r2.BILL_AMT">원</span></ion-col>
          <ion-col col-2 class="t_left">합계</ion-col>
          <ion-col col-4 class="t_right t_bold ">{{'' | commonfilter : r2.CASH_AMT + r2.BILL_AMT + r2.VAT: 'money_filter'}}<span *ngIf="r2.CASH_AMT + r2.BILL_AMT + r2.VAT">원</span></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <div *ngIf="Tab3">
    <ion-card *ngFor="let r3 of result3">
      <ion-grid>
        <ion-row>
          <ion-col col-12 class="t_left t_bold">{{commonCode8 | commonfilter: r3.DPTNO : 'commonCode8'}} {{commonCode12 | commonfilter: r3.EMPNO : 'commonCode12'}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 class="t_left">현금</ion-col>
          <ion-col col-3 class="t_right t_bold ">{{'' | commonfilter : r3.CASH_AMT: 'money_filter'}}<span *ngIf="r3.CASH_AMT">원</span></ion-col>
          <ion-col col-2 class="t_left">VAT</ion-col>
          <ion-col col-4 class="t_right t_bold ">{{'' | commonfilter : r3.VAT: 'money_filter'}}<span *ngIf="r3.VAT">원</span></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 class="t_left">어음</ion-col>
          <ion-col col-3 class="t_right t_bold ">{{'' | commonfilter : r3.BILL_AMT: 'money_filter'}}<span *ngIf="r3.BILL_AMT">원</span></ion-col>
          <ion-col col-2 class="t_left">합계</ion-col>
          <ion-col col-4 class="t_right t_bold ">{{'' | commonfilter : r3.CASH_AMT + r3.BILL_AMT + r3.VAT: 'money_filter'}}<span *ngIf="r3.CASH_AMT + r3.BILL_AMT + r3.VAT">원</span></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

</ion-content>
