<!--
  Generated template for the PopupPjtnoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>프로젝트번호 검색</ion-title>
    <button ion-button (click) = "closeModal()">Close</button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-item (click) = "getUser_popup()">
          <ion-label color="primary">담당자</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-7>
        <ion-item (click) = "getUser_popup()">
          <ion-label>{{user_1}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-1>
        <button ion-button *ngIf="user_1" (click) = "Clear_User('')">X</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <ion-item (click) = "getBalju_popup()">
          <ion-label color="primary">발주처</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-7>
        <ion-item (click) = "getBalju_popup()">
          <ion-label>{{balju_1}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-1>
        <button ion-button *ngIf="balju_1" (click) = "Clear_Balju('')">X</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-2>상태</ion-col>
      <ion-col col-10>
        <ion-select [(ngModel)]="status" interface="popover">
          <ion-option value="{{i.STATUS_CD}}" *ngFor = "let i of status_list">{{i.STATUS_NM}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>견적의뢰일자</ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)]="date1"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-datetime displayFormat="YYYY/MM/DD" [(ngModel)]="date2"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>견적번호</ion-col>
      <ion-col col-3>
        <ion-input placeholder="cust_cd" [(ngModel)] = "cust_cd"></ion-input>
      </ion-col>
      <ion-col col-5>
        <ion-input placeholder="cust_nm" [(ngModel)] = "cust_nm"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button (click) = "retrive()">조회</button>

  <ion-grid>
    <ion-row>
      <ion-col col-2>사업구분</ion-col>
      <ion-col col-2>견적번호</ion-col>
      <ion-col col-2>프로젝트 명칭</ion-col>
      <ion-col col-2>현재상태</ion-col>
      <ion-col col-2>발주처</ion-col>
      <ion-col col-2>담당자</ion-col>
    </ion-row>
    <ion-row *ngFor="let r of result" (click) = "selectItem(r)">
      <ion-col col-2>{{r.ITGRP1}}</ion-col>
      <ion-col col-2>{{r.PJTNO}}</ion-col>
      <ion-col col-2>{{r.PJTNM}}</ion-col>
      <ion-col col-2>{{r.CURSTS}}</ion-col>
      <ion-col col-2>{{r.BALJU}}</ion-col>
      <ion-col col-2>{{r.SOCMA}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
