<!--
  Generated template for the PopupUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>사용자 검색<img src="../../../../assets/icon/close_btn.png" class="close_btn" (click) = "closeModal()"></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-3>
          <div (click) = "PopupDept()" class="search_nm">부서코드</div>
      </ion-col>

      <ion-col col-9>
          <span (click) = "PopupDept()"><input type="text" value="{{dept_nm}}" class="search_val"></span><button  *ngIf="dept_nm" (click) = "clear_dept('')" class="cancel_btn">X</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <div class="btn_div">
    <button ion-button (click) = "retrive()" class="search_btn">조회</button>
  </div>
  <!--<button ion-button (click) = "add()" *ngIf="acc_btn_add">추가</button>
  <button ion-button (click) = "save()" *ngIf="acc_btn_save">저장</button>
  <button ion-button (click) = "delete()" *ngIf="acc_btn_delete">삭제</button>
  <button ion-button (click) = "print()" *ngIf="acc_btn_print">출력</button>-->

  <ion-grid class="user_grid">
    <ion-row style="background-color: #A6A6A6; color: white;">
      <ion-col col-3>사번</ion-col>
      <ion-col col-3>성명</ion-col>
      <ion-col col-3>부서</ion-col>
      <ion-col col-3>부서명칭</ion-col>
    </ion-row>
    <ion-row *ngFor="let r of result" (click) = "selectItem(r)" >
      <ion-col col-3>{{r.USER_ID}}</ion-col>
      <ion-col col-3>{{r.USER_NM}}</ion-col>
      <ion-col col-3>{{r.DEPT_CD}}</ion-col>
      <ion-col col-3>{{r.DEPT_NM}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
