page-main-template {
 /*
  .a {background-color: gray; color:white; font-weight:bold; font-size:8px;}
  .b {background-color: white; color:black; font-weight:bold; font-size:8px;}
  .c {background-color: white; color:black; font-weight:bold; font-size:8px;}
*/
   .a {background-color: #A6A6A6; color:white; font-weight:bold; font-size:8px; padding: 0px;}


  .label-md {
    margin : 0px;
  }

  .list-md{
    margin : 0px;
  }

  .scroll-content{
    background-color: #A6A6A6;
  }

  h4.big_menu{
    padding-left : 15px;
  }

  .item-md.item-block .item-inner{
    padding-right: 0px;
  }

  .log_out_btn{
    float: right;
  }

  .user_info{
    margin-top: 1%;
  }


  .button-md{
    background-color: white;
    border: 0px;
    -webkit-box-shadow: none;
  }


}
