<!--
<ion-header>
  <ion-navbar>
    <ion-title>
      Kors - Mes
    </ion-title>
  </ion-navbar>
</ion-header>
-->

<ion-content style="margin-top: 50%;">
  <ion-list>
    <ion-row>
      <ion-col col-12>
        <ion-select placeholder="회사코드" [(ngModel)]="selCompanyCode" interface="popover">
          <ion-option value="{{c.company_code}}" *ngFor = "let c of companyInfo">{{c.company_name}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-input placeholder="아이디" [(ngModel)] = "user_id"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="비밀번호" type="password" [(ngModel)] = "user_pswd"></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button full (click) = "doLogin()" class="search_btn">로 그 인</button>
  <ion-item>
    <ion-label>로그인유지</ion-label>
    <ion-checkbox color="primary" checked="1" [(ngModel)] = "retain_flag"></ion-checkbox>
  </ion-item>

</ion-content>



<!--<ion-row>
  <ion-col col-12>
    <ion-select placeholder="회사코드" [(ngModel)]="selCompanyCode" interface="popover">
      <ion-option value="{{c.company_code}}" *ngFor = "let c of companyInfo">{{c.company_name}}</ion-option>
    </ion-select>
  </ion-col>
</ion-row>-->

