<!--
  Generated template for the Pdd06Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title_text">자재투입 상세분석표</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <br>
  <ion-grid>
    <ion-row class="search_row">
      <ion-col col-3>
        <div class="search_nm">조회년월</div>
      </ion-col>

      <ion-col col-9>
        <ion-datetime displayFormat="YYYY-MM" [(ngModel)]="date_fr"></ion-datetime>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="btn_div">
    <button ion-button (click) = "retrive()" *ngIf="acc_btn_retrive" class="search_btn search_btn_margin">조회</button>
  </div>
  <!--<button ion-button (click) = "add()" *ngIf="acc_btn_add">추가</button>
  <button ion-button (click) = "save()" *ngIf="acc_btn_save">저장</button>
  <button ion-button (click) = "delete()" *ngIf="acc_btn_delete">삭제</button>
  <button ion-button (click) = "print()" *ngIf="acc_btn_print">출력</button>-->

  <ion-item class='tabpage'>
    <button ion-button (click) = "changeTab('1')" class="tabpage1" [ngStyle]="{'border-color': buttonColor1}" (click) = "btn_change1()">수주건별 분석표</button>
    <button ion-button (click) = "changeTab('2')" class="tabpage1" [ngStyle]="{'border-color': buttonColor2}" (click) = "btn_change2()">월별 분석표</button>
  </ion-item>

  <ion-card *ngIf="Tab1" class="Card_Grid chart_bg" >
    <ion-scroll scrollX [ngStyle]="{'height': responsive_height}">
      <ion-card-content [ngStyle]="{'width': responsive_width}" style="align: center;">
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-scroll>
  </ion-card>

  <ion-card *ngIf="result5 && Tab1" class="Card_Grid">
    <ion-grid>
      <ion-row class="chart_grid">
        <ion-col col-4 class="t_left t_black">프로젝트명</ion-col>
        <ion-col col-8 class="t_right t_black text_overflow">{{result5.PJTNM}}</ion-col>
      </ion-row>
      <ion-row class="chart_grid">
        <ion-col col-4 class="t_left t_black">수주금액</ion-col>
        <ion-col col-8 class="t_right t_black">{{'' | commonfilter : result5.AMT_A0 : 'money_filter'}}<span *ngIf="result5.AMT_A0">원</span></ion-col>
      </ion-row>
      <ion-row class="chart_grid">
        <ion-col col-4 class="t_left t_black">목표예산</ion-col>
        <ion-col col-8 class="t_right t_black">{{'' | commonfilter : result5.AMT_B0 : 'money_filter'}}<span *ngIf="result5.AMT_B0">원</span> / {{result5.AMT_B1}}%</ion-col>
      </ion-row>
      <ion-row class="chart_grid">
        <ion-col col-4 class="t_left t_black">요구금액</ion-col>
        <ion-col col-8 class="t_right t_black">{{'' | commonfilter : result5.AMT_C0 : 'money_filter'}}<span *ngIf="result5.AMT_C0">원</span> / {{result5.AMT_C1}}%</ion-col>
      </ion-row>
      <ion-row class="chart_grid">
        <ion-col col-4 class="t_left t_black">발주금액</ion-col>
        <ion-col col-8 class="t_right t_black">{{'' | commonfilter : result5.AMT_D0 : 'money_filter'}}<span *ngIf="result5.AMT_D0">원</span> / {{result5.AMT_D1}}%</ion-col>
      </ion-row>
      <ion-row class="chart_grid">
        <ion-col col-4 class="t_left t_black">재고사용</ion-col>
        <ion-col col-8 class="t_right t_black">{{'' | commonfilter : result5.AMT_E0 : 'money_filter'}}<span *ngIf="result5.AMT_E0">원</span> / {{result5.AMT_E1}}%</ion-col>
      </ion-row>
      <ion-row class="chart_grid">
        <ion-col col-4 class="t_left t_black">자재합계</ion-col>
        <ion-col col-8 class="t_right t_black">{{'' | commonfilter : result5.AMT_F0 : 'money_filter'}}<span *ngIf="result5.AMT_F0">원</span> / {{result5.AMT_F1}}%</ion-col>
      </ion-row>
      <ion-row class="chart_grid">
        <ion-col col-4 class="t_left t_black">FAIL COST</ion-col>
        <ion-col col-8 class="t_right t_black">{{'' | commonfilter : result5.AMT_G0 : 'money_filter'}}<span *ngIf="result5.AMT_G0">원</span> / {{result5.AMT_G1}}%</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="Tab2" class="chart_bg">
    <ion-scroll scrollX style="height:350px;">
      <ion-card-content style="width:700px;">
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-scroll>
  </ion-card>

  <ion-card *ngIf="result6 && Tab2" class="Card_Grid">
    <ion-grid>
      <ion-row class="chart_grid">
        <ion-col col-4 class="t_left t_black">수주금액</ion-col>
        <ion-col col-8 class="t_right t_black">{{'' | commonfilter : result6.AMT_A0 : 'money_filter'}}<span *ngIf="result6.AMT_A0">원</span></ion-col>
      </ion-row>
      <ion-row class="chart_grid">
        <ion-col col-4 class="t_left t_black">목표예산</ion-col>
        <ion-col col-8 class="t_right t_black">{{'' | commonfilter : result6.AMT_B0 : 'money_filter'}}<span *ngIf="result6.AMT_B0">원</span> / {{result6.AMT_B1}}%</ion-col>
      </ion-row>
      <ion-row class="chart_grid">
        <ion-col col-4 class="t_left t_black">요구금액</ion-col>
        <ion-col col-8 class="t_right t_black">{{'' | commonfilter : result6.AMT_C0 : 'money_filter'}}<span *ngIf="result6.AMT_C0">원</span> / {{result6.AMT_C1}}%</ion-col>
      </ion-row>
      <ion-row class="chart_grid">
        <ion-col col-4 class="t_left t_black">발주금액</ion-col>
        <ion-col col-8 class="t_right t_black">{{'' | commonfilter : result6.AMT_D0 : 'money_filter'}}<span *ngIf="result6.AMT_D0">원</span> / {{result6.AMT_D1}}%</ion-col>
      </ion-row>
      <ion-row class="chart_grid">
        <ion-col col-4 class="t_left t_black">재고사용</ion-col>
        <ion-col col-8 class="t_right t_black">{{'' | commonfilter : result6.AMT_E0 : 'money_filter'}}<span *ngIf="result6.AMT_E0">원</span> / {{result6.AMT_E1}}%</ion-col>
      </ion-row>
      <ion-row class="chart_grid">
        <ion-col col-4 class="t_left t_black">자재합계</ion-col>
        <ion-col col-8 class="t_right t_black">{{'' | commonfilter : result6.AMT_F0 : 'money_filter'}}<span *ngIf="result6.AMT_F0">원</span> / {{result6.AMT_F1}}%</ion-col>
      </ion-row>
      <ion-row class="chart_grid">
        <ion-col col-4 class="t_left t_black">FAIL COST</ion-col>
        <ion-col col-8 class="t_right t_black">{{'' | commonfilter : result6.AMT_G0 : 'money_filter'}}<span *ngIf="result6.AMT_G0">원</span> / {{result6.AMT_G1}}%</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>




















<!--
<ion-row>
  <ion-col col-2>공장코드</ion-col>
  <ion-col col-10>
    <ion-select [(ngModel)]="plant_cd" interface="popover">
      <ion-option value="{{p.PLANT}}" *ngFor = "let p of g_plant">{{p.PLANT_NAME_K}}</ion-option>
    </ion-select>
  </ion-col>
</ion-row>-->
