<!--
  Generated template for the Pdd06Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>자재투입 상세분석표</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-2>공장코드</ion-col>
      <ion-col col-10>
        <ion-select [(ngModel)]="plant_cd" interface="popover">
          <ion-option value="{{p.PLANT}}" *ngFor = "let p of g_plant">{{p.PLANT_NAME_K}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <ion-label>수주년월</ion-label>
      </ion-col>
      <ion-col col-8>
        <ion-datetime displayFormat="YYYY-MM" [(ngModel)]="date_fr"></ion-datetime>
      </ion-col>
    </ion-row>
  </ion-grid>


  <button ion-button (click) = "retrive()" *ngIf="acc_btn_retrive">조회</button>
  <!--<button ion-button (click) = "add()" *ngIf="acc_btn_add">추가</button>
  <button ion-button (click) = "save()" *ngIf="acc_btn_save">저장</button>
  <button ion-button (click) = "delete()" *ngIf="acc_btn_delete">삭제</button>
  <button ion-button (click) = "print()" *ngIf="acc_btn_print">출력</button>-->

  <ion-item>
    <button ion-button (click) = "changeTab('1')">수주건별 분석표</button>
    <button ion-button (click) = "changeTab('2')">월별 분석표</button>
  </ion-item>

  <ion-card *ngIf="Tab1">
    <ion-card-content height=400>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="result5 && Tab1">
    <ion-grid>
      <ion-row>
        <ion-col>프로젝트명</ion-col>
        <ion-col>{{result5.PJTNM}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>수주금액</ion-col>
        <ion-col>{{result5.AMT_A0}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>목표예산</ion-col>
        <ion-col>{{result5.AMT_B0}} / {{result5.AMT_B1}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>요구금액</ion-col>
        <ion-col>{{result5.AMT_C0}} / {{result5.AMT_C1}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>발주금액</ion-col>
        <ion-col>{{result5.AMT_D0}} / {{result5.AMT_D1}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>재고사용</ion-col>
        <ion-col>{{result5.AMT_E0}} / {{result5.AMT_E1}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>자재합계</ion-col>
        <ion-col>{{result5.AMT_F0}} / {{result5.AMT_F1}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>FAIL COST</ion-col>
        <ion-col>{{result5.AMT_G0}} / {{result5.AMT_G1}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="Tab2">
    <!--<ion-card-header>
      월별 자재투입 현황 분석표
    </ion-card-header>-->
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>


</ion-content>
