page-main {
  ion-title img{width:100%; height:30px;}

  .a11{ width:3000px; }

  ion-navbar .toolbar-background-md{
    background-color : white;
  }

  .main_grid{
    border-left: 6px solid #007087;
  }

  .bodt_title{
    color: #424242;
    font-weight: bold;
    margin-left: 3%;
  }
}
