page-main {
  ion-title img{width:100%; height:30px;}

  .a11{ width:3000px; }

  ion-navbar .toolbar-background-md{
    background-color : white;
  }

  .main_grid{
    border-left: 4px solid #FFDF24;
  }

  .bodt_title{
    color: gray;
    margin-left: 3%;
  }
}
