<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
<ion-header>

  <ion-navbar>
    <ion-title>main</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
왔냐?

  <button ion-button full (click) = "doLogout()">Log Out</button>
</ion-content>
-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle style="color: black;">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img alt="logo" src={{company_logo}}>
    </ion-title>
  </ion-navbar>

  <ion-scroll scrollX style="height:33px;">
    <ion-item  class="quick_group">
      <button ion-button (click) = "quickPage('PAF06', '구매단가발행')" class="quick_menu">구매단가</button>
      <button ion-button (click) = "quickPage('PDA12', '지출내역 발행')" class="quick_menu">전표관리</button>
      <button ion-button (click) = "quickPage('SCB10', '견적서 발행(을지)')" class="quick_menu">견적관리</button>
      <button ion-button (click) = "quickPage('SEA02', 'PJT 수주내역 조회')" class="quick_menu">영업관리</button>
      <button ion-button (click) = "quickPage('PDH04', '목표기초원가 발행')" class="quick_menu">목표예산</button>
      <button ion-button (click) = "quickPage('PDB13', '월 발주현황')" class="quick_menu">구매발주</button>
      <button ion-button (click) = "quickPage('PEA03', '부품 입고대기 현황')" class="quick_menu">자재관리</button>
      <button ion-button (click) = "quickPage('PHA03', '월별 수입검사현황')" class="quick_menu">품질관리</button>
    </ion-item>
  </ion-scroll>
</ion-header>

<ion-content>
    <br>
  <span class="bodt_title"><img src="../../../assets/imgs/page_img/main_pjt_img.png" style="width: 16px; height: 16px;"> PJT 수주내역</span><br>

  <ion-card *ngFor="let r of result" (click) = "openDetail(r)">
    <ion-grid class="main_grid">
      <ion-row>
        <ion-col col-12 class="main_left">{{r.PJTNO}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 class="main_left main_bold main_overflow">{{r.PJTNM}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-8 class="main_left">{{commonCode13 | commonfilter: r.BANAM: 'commonCode13'}}</ion-col>
        <ion-col col-4 class="main_right" style="color: gray;">{{commonCode15 | commonfilter: r.EPNO: 'commonCode15'}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6 class="main_left">수주일자 {{r.SODAT}}</ion-col>
        <ion-col col-6 class="main_right" style="color: gray;">납기일자 {{r.NADAT}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="showInfiniteScroll">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab bottom right><button ion-fab [hideFabOnscroll]='content' (click) = "scrollToTop()" class="top_btn"><img alt="top" src="../../../assets/icon/top_button.png"></button></ion-fab>
</ion-content>



<!--
<ion-grid>
  <ion-row>
    <ion-col col-3 (click) = "quickPage('PAF06', '구매단가발행')">구매단가</ion-col>
    <ion-col col-3 (click) = "quickPage('PDA12', '지출내역 발행')">전표관리</ion-col>
    <ion-col col-3 (click) = "quickPage('SCB10', '견적서 발행(을지)')">견적관리</ion-col>
    <ion-col col-3 (click) = "quickPage('SEA02', 'PJT 수주내역 조회')">영업관리</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3 (click) = "quickPage('PDH04', '목표기초원가 발행')">목표예산</ion-col>
    <ion-col col-3 (click) = "quickPage('PDB13', '월 발주현황')">구매발주</ion-col>
    <ion-col col-3 (click) = "quickPage('PEA03', '부품 입고대기 현황')">자재관리</ion-col>
    <ion-col col-3 (click) = "quickPage('PHA03', '월별 수입검사현황')">품질관리</ion-col>
  </ion-row>
</ion-grid>-->
